<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.DogShelterConnectionString"
            connectionString="Data Source=DESKTOP-PRM8G3D\SQLEXPRESS;Initial Catalog=DogShelter;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key = "ParentTable" value = "Breed"/>
    <add key = "  ChildTable" value ="Dog"/>

    <add key = "SelectParent" value = "select * from Breed"/>
    <add key = "SelectChild" value = "select * from Dog where breedId=@breedId"/>
    <add key = "SelectAllChild" value = "select * from Dog"/>
    <add key = "DeleteChild" value ="delete from Dog where breedId=@breedId"/>
    <add key =  "AddChild" value = "insert into Dog(dogId, dogName, dogBirthday, breedId, staffID, addoptionId, Years, YearsOfTraining) values (@dogId, @dogName, @dogBirthday, @breedId, @staffId, @addoptionId, @years, @yearsOfTraining)"/>
    <add key = "UpdateChild" value ="update Dog set dogName=@dogName where breedId=@breedId"/>
    
  </appSettings>
</configuration>